<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Predict Insurance Bill</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  </head>

  <body>
    <div class = "login">
      <h1>Predict Human Die Titanic</h1>

        <!-- Form to enter new data for predictions  -->
        <form action="{{ url_for('predict')}}"method="POST">
          <input type="text" name="sibsp" placeholder="SibSp" required="required" /><br>
          <input type="text" name="parch" placeholder="Parch" required="required" /><br>
          <input type="text" name="fare" placeholder="Fare" required="required" /><br>
          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

      <br> <br>  
      
    </div>

    {{pred}}

  </body>
</html>